* {
  box-sizing: border-box;
}
body{
  background: url('./../images/bg.jpg') top left / cover no-repeat;
}

ul{
  list-style: none;
  padding-left: unset;
}

a{
  text-decoration: none;
}

.fab, .fas {
  font-size: 50px;
  padding: 0px;
  display: inline-block;
}

.fa-facebook-square {
  color: #485793;
}
.fa-rss-square{
  color: #C39245;
}

.fa-twitter-square {
  color: #718CC2;
}

.fa-youtube{
  color: #A54035;
}

.nav--main .nav__list{
  padding-left: 10px;
  padding-right: 10px;
}

.nav--main .nav__item{
  background-color: red;
}

.nav--main .nav__link{
  color: #fff;
}

.nav--main .nav__item:not(:last-child){
  margin-right: 10px;
}

#carousel{
  height: 365px;
  background: url('./../images/top-image.png') no-repeat -120px -120px;
  position: relative;
  overflow: hidden;
}

#carousel::before{
  content: url('./../images/grid.png');
  opacity: 0.3;
}

#carousel > .logo{
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

#news article{
  background-color: #fff;
  padding: 20px;
}

#skateboarders img{
  min-width: 100%;
  min-height: 100%;
}

.skateboarder{
  border: solid 5px #fff;
  overflow: hidden;
  position: relative;
}

.skateboarder_lance{
  margin-right: 1.5rem;
}

.skateboarder_tommy{
  height: 100%;
}

.skateboarder span{
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.btn-link {
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 5;
  color: red;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 35%;
}


#skateboards{
  background: #fff;
  padding: 20px;
}

.fill-skate{
  padding-right: 20px;
}

.form {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 50px;
}

.btn-submit  {
  background-color: darkred;
  color: white;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  margin-top: 10px;
}

#social-icons{
  color: #CACACA;
  height: 10px;
}


@media (min-width: 768px){
  .skateboard-image{
    transform-origin: top left;
    transform: rotate(90deg) translateY(-25%);
    height: 260px;
    width: 65px;
  }
}
